/*
Main menu block
*/

#block-system-main-menu ul {
    margin: 0;
    text-align: center;
}
#block-system-main-menu li {
    display: inline;
    padding: 0 10px;
    border-left: 1px solid;
}
#block-system-main-menu li.first {
    border: medium none;
}