/* Gratis subtheme css file */

/*
ELEMENT-TAGS
*/
	body.page-admin.admin-menu.adminimal-menu {
		margin-top: 29px !important;
	}
	body.admin-menu.adminimal-menu {
		margin-top: 29px !important;
	}
	body.admin-menu.adminimal-menu::before {
		height: 0;
	}
	ul.elastic-grid figure,
	.panel-bricks-25-75-stacked figure {
		float: none;
		margin: 0px;
		width: 100%;
		padding: 0.1em;
	}
	ul.elastic-grid figure figcaption,
	.panel-bricks-25-75-stacked figure figcaption {
		display: none;
	}

/*
CLASS
*/
	.color-palette-green a {
		color: #8192b3;
	}
	.color-palette-green .item-list-pager li.pager-current {
		background-color: #8192b3;
	}
	.color-palette-green .item-list-pager li.pager-current:hover {
		background-color: rgba(129, 146, 179, 0.9);
	}
	.color-palette-green .item-list-pager li a:hover {
  	background-color: rgba(129, 146, 179, 0.6);
	}
	.elastic-grid {
		text-align: center;
	}
	.elastic-grid-thumbnail .image {
		position: relative;
	}
	.elastic-grid-thumbnail .image .title a {
		position: relative;
		top: -100%;
		font-size: 0.85em;
		text-align: left;
		color: white;
		left: 0;
		padding: 5px;
		background-color: rgba(0, 0, 0, 0.37);
		width: 100%;
		text-shadow: -1px -1px 1px black;
		font-weight: 600;
	}
	.flexslider {
		border: 0;
		border-top: 8px solid #8192B3;
		margin: -4px 0 60px;
	}
	.flexslider figure {
		margin: 0;
	}
	.l-footer-wrapper {
		background-color: #F2F3F4;
		color: #545454;
	}
	.l-off-canvas-show {
		background: rgba(255,255,255,0.9) url("../images/theme-sprite.png") no-repeat scroll 0px 0px;
		-webkit-border-bottom-right-radius: 8px;
		-webkit-border-bottom-left-radius: 8px;
		-moz-border-radius-bottomright: 8px;
		-moz-border-radius-bottomleft: 8px;
		border-bottom-right-radius: 8px;
		border-bottom-left-radius: 8px;
		height: 40px;
		top: 8px;
		width: 260px;
	}
	.main-menu-wrapper > ul ul {
		z-index: 100;
	}
	.sliding-popup-bottom {
		background: none;
	}

/*
ATTRIBUTES
*/
	#block-views-flexsliders-block .field-name-field-title .field-item, #block-views-flexsliders-block .field-name-field-text .field-items {
		overflow: hidden;
	}
	#header-bar, blockquote  {
		background: none;
	}
	#sliding-popup {
		color: #535353;
	}
	#sliding-popup.sliding-popup-bottom {
		background-color: rgba(242, 243, 244, 0.9);
	}

/*
MEDIA QUERIES
*/
	@media screen and (min-width: 0) and (max-width: 33.00em) {
	ol.flex-control-nav.flex-control-paging {
	  position: absolute;
	  top: 34%;
	  z-index: 101;
	}
		#block-views-flexsliders-block .field-name-field-title .field-item, #block-views-flexsliders-block .field-name-field-text .field-item {
			color: #535353;
			font-weight: bolder;
			max-height: 50%;
			padding: 5px 15px;
			width: 100%;
		}
		#block-views-flexsliders-block .field-name-field-image figure {
			margin: 0;
		}
		.l-logo {
			top: -25px;
			right: 85px;
			position: absolute;
		}

	}
	
	@media screen and (min-width: 33.00em) and (max-width: 60em) {
		#block-views-flexsliders-block .field-name-field-title .field-item, #block-views-flexsliders-block .field-name-field-text .field-item {
			font-size: 0.7em;
		}
		.l-logo {
			margin-top: -55px;
			position: relative;
		}	
	}

	@media  (min-width: 0) and (max-width: 60.01em) {
		.l-branding {
			display: none;
		}		
		.l-menu-wrapper ul.menu a {
			background: #358EDA;
		}
		.l-menu-wrapper:hover ul.menu a:hover {
			background: #7E818A;
		}
		.l-menu-wrapper ul.menu, .l-menu-wrapper ul.menu a.active-trail {
			background: #6f7177;
		}

		#off-canvas-left {
			background-color: rgba(168, 171, 184, 0.97);
		}
	}

	@media screen and (min-width: 0.47em) {

			ul.elastic-grid figure,
			.panel-bricks-25-75-stacked figure {
					float: right;
					margin: 0;
					width: 50%;
					padding: 0.1em;
					min-width: 75px;
			}
			ul.elastic-grid figure figcaption,
			.panel-bricks-25-75-stacked figure figcaption {
					display: none;
			}
		}

	@media screen and (min-width: 33.00em) {

		ol.flex-control-nav.flex-control-paging {
		  position: absolute;
		  top: 80%;
		  z-index: 101;
		}
		#block-views-flexsliders-block .field-name-field-title .field-item, #block-views-flexsliders-block .field-name-field-text .field-items{
			background-color: rgba(255, 255, 255, 0.76);
			height: 100%;
			left:55%;			
			padding: 10px;
			position: absolute;
			top: 0;
			width: 45%;
		}
		#block-views-flexsliders-block .field-name-field-title .field-item, #block-views-flexsliders-block .field-name-field-text .field-item {
			color: #535353;
			position: relative;
		  -webkit-transform: translateY(-50%);
		  -ms-transform: translateY(-50%);
		  transform: translateY(-50%);			
			top: 50%;
		}
	}

	@media screen and (min-width: 60.01em) {

		blockquote {
			border: 0;
		}
		ul.menu.primary {
			margin: 15px 10px 0 10px;
			font-size: 1em;
		}
		.color-palette-green .l-menu-wrapper {
			background-color: rgba(255, 255, 255,1);
		}
		.color-palette-green .l-off-canvas--left {
			background-color: rgba(255, 255, 255,1);
		}
		.escale-width-150, .escale-width-150 a {
				width: 150px;
		}
		.escale-width-200, .escale-width-150 a {
				width: 200px;
		}
		.escale-width-250, .escale-width-150 a {
				width: 250px;
		}
		.flexslider { 
				border-top: 15px solid #8192B3;
			}
		.l-branding {
			display: inline-block;
			margin: 13px 0 0 10px;
			text-transform: uppercase;
			vertical-align: top;
		}
		.l-menu-wrapper .list-margin, .l-menu-wrapper ul li, ul .l-menu-wrapper li, .l-menu-wrapper ol li, ol .l-menu-wrapper li {
			margin-top: 3px;
		}
		.l-menu-wrapper ul.menu a.alink:hover, .l-menu-wrapper ul.menu a.active-trail {
			background-color: rgba(126, 129, 138,0.1);
			text-transform: uppercase;
			margin: 10px 0 0 0;
			padding: 7px 7px 7px 15px;
		}
		.l-logo {
			display: inline-block;
			margin: 0 0 0 10px;
			vertical-align: top;
		}
		.main-menu-wrapper > ul {
			color: #535353;
			display: inline-block;
			vertical-align: top;
		}
		.main-menu-wrapper > ul a {
			color: #535353;
			font-size: 0.8em;
		}
		.main-menu-wrapper > ul > li > a {
			float: none;
			padding: 7px 7px 7px 15px;
		}
		.main-menu-wrapper > ul > li > a:hover, .main-menu-wrapper > ul > li > a.active {
			background-color: inherit;
			color: rgb(15, 15, 15);
			font-size: 0.82em;
			font-weight: bolder;
		}
		.nivo-caption {
			width: 50%;
			margin: 0 25%;
		}
		.stickynav-active ul.menu.primary {
			padding: 0;
			height: 50px;
		}

		#block-simple-taxonomy-menu-simple-taxonomy-menu-1 {
			position: fixed;
		}
		#block-views-flexsliders-block .field-name-field-title .field-item, #block-views-flexsliders-block .field-name-field-text .field-item {
			font-size: 1.1em;
		}
		#gallery-title a {
			position: absolute;
			bottom: 0px;
			background: rgba(0, 0, 0, 0.61) none repeat scroll 0% 0%;
			width: 100%;
			color: #FFF;
			padding: 1em;
			font-weight: bold;
		}
	}